.creatives {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;

    .open-filters {
      border: none;
      width: 100%;
      height: 40px;
      border-radius: 3px;
      cursor: pointer;
      color: $grey;
      outline: none;
      background: $lightgrey;
    }

    .open {
      background: $green;
      color: white;
    }
  }

  ul {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .creatives {
    .top-bar {
      justify-content: space-between;
      margin-bottom: 10px;

      .open-filters {
        display: none;
      }

      h2 {
        font-weight: 600;
        color: $black;
        padding-left: 2px;
        font-size: 24px;
      }

      .buttons {
        display: flex;

        .reset-btn.desktop {
          padding: 0 10px;
          height: 30px;
          outline: none;
          border: none;
          border-radius: 3px;
          color: $grey;
          background: $lightgrey;
          cursor: pointer;
          outline: none;
        }

        span {
          display: flex;
          align-items: center;
          height: 30px;
          font-weight: 200;
          font-size: 36px;
          margin: 0 10px;
          color: $border-color2;
        }

        .layout-buttons {
          display: flex;
          padding-bottom: 5px;

          .box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            background: $lightgrey;
            cursor: pointer;

            i {
              color: $grey;
            }

            &:last-child {
              margin-left: 10px;
            }

            &.selected {
              background: $green;

              i {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
