.login {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 50px 15px;
  width: 100%;
  height: 100%;

  button {
    width: 100px;
    height: 35px;
    font-size: 20px;
  }
}
