.search-page {
  width: 100%;
  border-radius: 3px;

  form {
    display: flex;
    align-items: center;
    height: 55px;
    background: $white;
    border-bottom: 1px solid $border-color2;

    .search-icon {
      width: 50px;

      i {
        font-size: 18px;
        color: $black;
      }
    }

    input {
      width: 100%;
      outline: none;
      border: none;
      font-size: 14px;
      padding-bottom: 2px;
    }
  }

  .results {
    flex-direction: column;
    width: 100%;
    height: 385px;
    overflow-y: scroll;
    padding: 0 0 10px;
    border-radius: 3px;
    background: $white;

    ul {
      padding: 15px 0 0;
      margin-bottom: 10px;
      height: 330px;
      overflow-y: scroll;

      li {
        display: flex;
        align-items: flex-start;
        height: 55px;

        .img-box {
          margin-right: 10px;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin: 0;
          }
        }

        h4 {
          font-size: 13px;
          color: $black;
          white-space: nowrap;
        }

        span {
          color: $black;
          font-size: 13px;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }

    .btn-container {
      button {
        width: 100%;
        min-height: 35px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 3px;
        border: none;
        background: $red;
        color: white;
        outline: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
}
