.creatives .filters {
  display: flex;
  flex-direction: column;

  .dropdowns {
    .dropdown {
      position: relative;
      width: 100%;
    }

    .menu-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      margin-bottom: 10px;
      padding: 0 10px;
      border: 1px solid $border-color1;
      border-radius: 3px;
      background: $white;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 400;
        color: $grey;
      }

      i {
        color: $red;
        font-size: 18px;

        &.open {
          color: $green;
        }
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 40px;
      margin-bottom: 10px;
      border: 1px solid $border-color1;
      border-radius: 3px;
      background: $white;

      ul {
        display: flex;
        flex-direction: column;
        max-height: 250px;
        width: 100%;
        overflow-y: scroll;
        padding: 15px;

        li {
          min-height: 40px;

          &:last-child {
            min-height: 20px;
          }

          .content {
            display: flex;
            align-items: center;

            .box {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 18px;
              height: 18px;
              padding: 5px;
              border-radius: 2px;
              margin-right: 10px;
              border: 1px solid $border-color1;
              cursor: pointer;

              i {
                color: $white;
                font-size: 13px;
              }

              &.selected {
                border: none;
                background: $red;
              }
            }

            span {
              font-size: 14px;
              font-weight: 400;
              color: $black;
              cursor: pointer;
            }
          }
        }
      }

      h3 {
        font-size: 14px;
        font-weight: 400;
        color: $grey;
      }
    }
  }

  .reset-btn.mobile {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: $white;
    background: $red;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
  }

  .selections {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .creatives .filters {
    .reset-btn.mobile {
      display: none;
    }

    .dropdowns {
      display: flex;
      margin-bottom: 15px;

      .dropdown {
        margin: 0 15px 0 0;

        .menu-button {
          min-width: 140px;
          margin: 0;
        }

        .menu-button:last-child {
          margin-right: 0;
        }

        .menu {
          position: absolute;
          top: 50px;
          box-shadow: $box-shadow1;
          margin: 0;
          z-index: 10;
        }
      }

      .sort.dropdown,
      .categories.dropdown {
        .menu {
          min-width: 240px;
        }
      }

      .subcategories {
        margin: 0;
      }
    }

    .selections {
      display: flex;
      flex-wrap: wrap;
      min-height: 40px;
      margin-bottom: 5px;

      .selection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: 0 10px;
        margin: 0 10px 10px 0;
        background: $white;
        border: 1px solid $border-color1;
        border-radius: 6px;
        cursor: pointer;

        .name {
          font-size: 13px;
          font-weight: 400;
          margin-right: 10px;
          margin-bottom: 1px;
          color: $grey;
          opacity: 80%;
        }

        .remove-icon {
          font-size: 12px;
          color: $grey;
          opacity: 80%;
        }
      }
    }
  }
}
