.messages {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: calc(100% - 60px);
  padding: 0 15px 0;
  background: $white;
  z-index: 5;
  overflow: hidden;
  border-bottom: 1px solid $border-color1;
  border-top: 1px solid $border-color1;

  .chat,
  .notifs {
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid $border-color2;
    cursor: pointer;

    h3 {
      font-size: 16px;
      font-weight: 500;
      color: $black;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      color: $black;

      &.new {
        color: $red;
      }
    }
  }

  ul {
    overflow: scroll;
    opacity: 0;
    height: 0;

    li:first-child {
      padding-top: 15px;
      height: 75px;
    }

    li {
      display: flex;
      height: 55px;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
      }

      p {
        padding-top: 2px;
        font-size: 13px;
        color: $grey;

        span {
          color: $black;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .messages {
    position: absolute;
    left: initial;
    top: 95px;
    right: 30px;
    width: 250px;
    height: 440px;
    margin: 0;
    border: none;
    border-radius: 6px;
    box-shadow: $box-shadow1;
  }
}
