.messages {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 440px;
  padding: 0 15px 0;
  background: $white;
  z-index: 5;
  overflow: hidden;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;

  .chat,
  .notifs {
    overflow: hidden;
    height: 55px;
    transition: height 1s;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid $border-color2;
    cursor: pointer;

    h3 {
      font-size: 16px;
      font-weight: 500;
      color: $black;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      color: $black;

      &.new {
        color: $red;
      }
    }
  }

  ul {
    height: 0;
    opacity: 0;
    overflow: scroll;
    transition: height 1s;
    transition: opacity 1s;
    padding: 15px 0 0 0;

    li {
      display: flex;
      height: 55px;

      p {
        font-size: 13px;
        color: $grey;

        span {
          color: $black;
          font-weight: 500;
        }
      }

      .img-box {
        margin-right: 10px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
    }
  }

  .open {
    height: 385px;

    ul {
      height: 330px;
      opacity: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .messages {
    position: absolute;
    left: initial;
    top: 90px;
    right: 15px;
    width: 250px;
    margin: 0;
    border: none;
    border-radius: 6px;
    box-shadow: $box-shadow1;
  }
}
