.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: $white;
  z-index: 5;
  // box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);

  ul {
    padding-top: 0px;
    width: 100%;
    border-top: 1px solid $border-color;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      text-align: center;
      border-bottom: 1px solid $border-color;

      a {
        color: $black;
        font-size: 20px;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
