.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 15px;
  height: 440px;
  width: 250px;
  padding: 0 15px;
  box-shadow: $box-shadow1;
  background: $darkblue;
  border-radius: 6px;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    li {
      width: 100%;
      padding: 15px;
      text-align: center;

      a {
        font-size: 20px;
        font-weight: 500;
        color: $white;
      }
    }
  }
}
