.search {
  position: relative;
  background: $white;
  width: 100%;
  border-radius: 3px;
  padding: 0 15px;

  form {
    display: flex;
    align-items: center;
    height: 55px;
    background: $white;
    border-bottom: 1px solid $border-color;

    i {
      font-size: 16px;
      margin: 0 15px 0 0;
      color: $black;
    }

    input {
      width: 100%;
      outline: none;
      border: none;
      font-size: 14px;
      padding-bottom: 2px;
    }
  }

  .results {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 385px;
    overflow-y: scroll;
    padding: 0 0 10px;
    border-radius: 3px;
    background: $white;

    ul {
      padding: 15px 15px 0;
      margin-bottom: 10px;
      height: 330px;
      overflow-y: scroll;

      li {
        display: flex;
        align-items: flex-start;
        height: 55px;

        .img-box {
          margin-right: 10px;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }

        h4 {
          font-size: 13px;
          color: $black;
          white-space: nowrap;
        }

        span {
          color: $black;
          font-size: 13px;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }

    .btn-container {
      padding: 0 15px;

      button {
        width: 100%;
        min-height: 35px;
        margin-right: 25px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 3px;
        border: none;
        background: $darkblue;
        color: white;
        outline: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar .search {
    position: absolute;
    top: 90px;
    right: 15px;
    width: 250px;
    height: 440px;
    box-shadow: $box-shadow1;
    background: $white;
    border-radius: 6px;

    .results {
      top: 55px;
      border-radius: 0 0 6px 6px;
    }
  }
}
