.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
  background: $white;

  .navbar-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 100%;
    padding: 0 15px;
  }

  h2 a {
    font-size: 24px;
    color: $red;
  }

  .menu {
    .links {
      display: flex;

      li {
        font-size: 16px;
        margin-left: 15px;

        a {
          color: $black;
        }
      }
    }
  }

  i {
    font-size: 20px;
    color: $red;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 80px;

    .menu {
      display: flex;
      align-items: center;

      .dropdown-icons {
        display: flex;
        align-items: center;
        margin-left: 30px;
      }

      .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: $red;
        cursor: pointer;

        i {
          font-size: 14px;
          color: $white;
        }
      }

      .icon-box:first-child {
        margin: 0;
      }

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
}
