.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: $darkblue;

  &.transparent-bg {
    position: absolute;
    top: 0;
    background: transparent !important;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 60px;
    width: 100%;

    h2 {
      letter-spacing: 2px;
      padding-right: 5px;
      margin: 0;

      a {
        color: $white;
      }
    }

    i {
      color: $white;
      font-size: 20px;
      cursor: pointer;
    }

    .links {
      display: flex;
      align-items: center;

      li {
        margin-left: 15px;
        font-size: 16px;
        font-weight: 500;

        a {
          color: $white;
        }
      }

      li:first-child {
        margin: 0;
      }
    }

    .buttons {
      display: flex;
      align-items: center;

      i.fa-bell {
        margin: 0;
      }

      .my-profile {
        display: flex;
        align-items: center;

        span {
          margin-left: 15px;
          font-size: 16px;

          a {
            color: $white;
          }
        }

        img {
          border-radius: 50%;
          width: 32px;
          height: 32px;
          cursor: pointer;
          margin-left: 15px;
        }
      }
    }

    .auth-links {
      display: flex;
      align-items: center;

      li {
        margin-left: 15px;
        font-size: 16px;
        font-weight: 500;

        a {
          color: $white;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    .buttons {
      i {
        margin-left: 15px;
        font-size: 16px;
      }
    }
  }
}
