// Color Variables
$white: white;
$red: #fb3640;
$black: #0d1321;
$green: #1b998b;
$blue: #0a2463;
$grey: #4c535f;
$lightgrey: #f4f5f7;
$border-color: #e9e6e6;
$border-color2: #f5f5f5;

// Box Shadow
$box-shadow1: 0px 10px 50px rgba(0, 0, 0, 0.1);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  height: 100%;
}

p {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

button {
  font-family: "Rubik", sans-serif;
}

i {
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 50px 15px;
  margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 1400px;
    margin-top: 80px;
  }
}
